name: CI

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    container: node:20

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show Node and npm versions
        run: |
          node -v
          npm -v

      - name: Pack
        run: |
          rm -rf .github .gitattributes
          npm pack

      - name: Upload build to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: "*.tgz"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
